@use '@angular/material' as mat;
@import 'styles/variables';

html {
  @include mat.theme((
    color: (
      primary: mat.m2-define-palette(mat.$m2-deep-purple-palette),
      accent: mat.m2-define-palette(mat.$m2-amber-palette),
      warn: mat.m2-define-palette(mat.$m2-red-palette),
    ),
    typography: mat.m2-define-typography-config(
      $font-family: $font-family,
    ),
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: $background-color;
  color: $text-color;
  font-family: $font-family;
  margin: 0;
}

.container {
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}