<app-module-detail>
  <h2>Exercise Percentages</h2>
  <app-module-filter>
    <form #filterForm="ngForm" (change)="loadPercentagesTable()">
      <div class="form-group">
        <label for="exercise">Exercise</label>
        <select id="exercise" name="exercise" [(ngModel)]="exerciseId">
          @for (exercise of exercises; track exercise.id) {
            <option [value]="exercise.id">{{ exercise.name }}</option>
          }
        </select>
      </div>
    </form>
  </app-module-filter>
  <app-module-content-row>
    <app-module-panel [colList]="true">
      <h3>Records</h3>
      <app-module-table>
        <thead>
          <tr>
            <th>Percentage</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          @for (percentage of percentages; track percentage.percentage) {
            <tr>
              <td>{{ percentage.percentage }}</td>
              <td>{{ percentage.value }}</td>
            </tr>
          }
        </tbody>
      </app-module-table>
    </app-module-panel>
  </app-module-content-row>
</app-module-detail>
